// Define variables for your color scheme

// Colors
$red: #FF6359;
$darkred: #d82d20;
$darkgreen: #43c000;
$green: #89E219;
$blue: #23B5D3;
$darkblue: #2b70c9;
$yellow: #ffde00;
$orange: #ff9600;
$pink: #ffcaff;
// $purple: ;



// Neutrals
$black: #4b4b4b;
$lightblack: #777777;
$gray: #afafaf;
$grey: #afafaf;
$light-gray: #d3d3d3;
// $lightgrey: #d3d3d3;
$lightgrey: #b8b8b8;
$light: #f7f7f7;
$white: #ffffff;

// Others
$dark:#3A5C26;
$greendark:#43C000;
$greenlight:#89E219;
$greenwhite:#EFF6E0;
$back:#FFFFFF;
