.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.logo {
  display: flex;
  flex-direction: column;

  .book {
    width: auto;
    height: 200px;
    margin-top: 200px;
  }

  .text {
    width: auto;
    height: 100px;
    margin-top: -2.4em;
  }
}

hr {
  color: $green;
}

.description {
  margin: 1em 2em 2em 2em;

  p {
    font-size: 1.2em;
    line-height: 1.1em;
    font-weight: 500;
    color: $dark;
    text-align: center;
  }
}
.go-wrapper {
  text-align: center;

  .go {
    font-family: "Barlow Condensed", Arial, sans-serif;
    text-transform: uppercase;
    padding: 10px 20px;
    margin: 1em;
    font-size: 1.3em;
    font-weight: 700;
    text-shadow: 1px 1px 2px $black;
    background-color: $green;
    box-shadow: 0 4px 0 $darkgreen;
    border: 2px solid $darkgreen;
    color: $white;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.4s ease-in-out;
  }

  .go:hover {
    background-color: $dark;
  }
}
