#sourceSelectPanel {
  display: flex;
  margin: 1em 0;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;

  label {
    font-size: 1.1em;
    color: grey;
    padding-left: 1em;
    margin-bottom: 0.3rem;
  }

  select {
    border-radius: 1em;
    padding: 0.2em 0.5em;
  }
}
