<div class="title-card">
  <%= image_tag "BookBuddy_logo.svg", alt: "Logo BookBuddy", class: "book"%>
  <h2 class="card-title">Mes séries</h2>
</div>
  <%# <ul class="serie-tabs">
    <li>
      <a href="#" data-action="click->series-tabs#switchTabs" data-series-tabs-target="tab" data-target-id="content-allSeries">Toutes les séries</a>
    </li>
    <li>
      <a href="#" data-action="click->series-tabs#switchTabs" data-series-tabs-target="tab" data-target-id="content-userSeries">Mes séries</a>
    </li>
  </ul> %>
  <%# <div class="filter-box container">
      <div class="search-bar">
        <input
          type="text"
          name="query"
          class="form-control"
          placeholder="Rechercher une série..."
          data-index-search-target='input'
          data-action='input->index-search#search'>
      </div>
      <div class="filter-box-checkbox">
        <label for="my" class="form-check-label">Mes séries</label>
        <div class="form-check form-switch">
          <input  class="form-check-input"
                  name='my'
                  data-index-search-target='my'
                  data-action="input->series-tabs#switchTabs"
                  data-series-tabs-target="tab"
                  data-target-id="content-userSeries"
                  type="checkbox"
                  role="switch"
                  checked>
        </div>
      </div>
</div> %>

<%# <div class="container" data-controller="series-tabs"> %>

  <%# <div data-series-tabs-target="content" id="content-allSeries" style="display: block">
     <%= render 'partials/series/list', series: @series %>
  <%# </div> %>

  <div data-series-tabs-target="content" id="content-userSeries" style="display: block">
    <% @user_books_series.group(:name).count.keys.each do |key| %>
      <% @seriesArray = [] %>
      <% @seriesArray << Serie.find_by(name: key) %>
      <%= render 'partials/series/list', series: @seriesArray %>
    <% end %>
  </div>

  <div data-series-tabs-target="content" id="content-favoritesSeries" style="display: none">
    <%= render 'partials/series/list', series: @user_favorite_series %>
  </div>

</div>
